.team-container{
  filter: hue-rotate(-14deg);
  width: 100%;
  padding-top: 50px;
  /* background-image: url('../assets/wave.png'); */
  background-repeat:no-repeat;
  background-size: cover;
  transform: rotate(360deg);  
}

.team-container h1{
  margin: 61px;
  font-size: 45px;
  color: #615d5d;
}

.team-members{
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.team{
  box-shadow: 1px 1px 1px #d3d3d347;
  width: 30%;
  height: 600px;
  background-color: white;
  margin: 30px 0px;
  box-sizing: border-box;
  box-shadow: 0 15px 15px 0px rgba(0,0,0,0.2);
  padding: 20px;
}

.pic{
  margin: auto;
  background-size: cover;
  border-radius: 50%;
  height: 200px;
  width: 60%;
}

.steph{
  background-size: cover;
  background-image: url('../assets/steph.jpg');
} 

.kai{
  background-size: cover;
  background-image: url('../assets/kai.jpeg')
} 

.tyler{
  background-size: cover;
  background-image: url('../assets/tyler.jpeg')
}   

.person-text{
  padding: 20px;
  text-align: center;
}

.person-text h2{
  font-size: 23px;
  font-weight: 500;
  text-transform: uppercase;
}

.person-text p{
  font-size: 16px;
  font-weight: 200;
  line-height: 1.5;
  text-align: justify;
}